@font-face {
    font-family: Aptos;
    src: url(fonts/Aptos.ttf) format('truetype');
}
@font-face {
    font-family: Aptos;
    src: url(fonts/Aptos-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Aptos;
    src: url(fonts/Aptos-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Aptos_serif;
    src: url(fonts/Aptos-Serif.ttf) format('truetype');
}
@font-face {
    font-family: Aptos;
    src: url(fonts/Aptos-Bold-Italic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
body{
    background-color: white;
    font-family: 'Aptos';
    font-weight: normal;
}
.content {
    margin-left: 300px;
    padding: 20px;
    flex: 1;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; /*Breite*/
    height: 100vh; /* Ganzer Screen*/
    background-color: #0969DA;
    color: black;
    padding: 10px;
    border: 0px;
    border-style: solid;
    border-color: #333;
}
button.default {
    align-items: center;
    background-color: black;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    border: 0px;
}
button a {
    text-decoration: none;
    color: white;
}
button.default:hover{
    color: black;
    background-color: white;
    border-style: solid;
}
button.default:hover a{
    color: black;
    background-color: white;
}
div.element button.downloadBtn{
    background-color: #099344;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
div.element button.downloadBtn:hover{
    background-color: greenyellow;
}
div.element {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 450px;
    position: relative;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #D1D9E0;
}
div.element div.content{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color: blue;
    top: 0px;
    left: 30px;
    right: 30px;
    bottom: 55px;
    position: absolute;
    box-sizing: border-box;
}
div.element div.content h1{
    margin: 0px;
}